/*GLOBAL =================================================================================================*/

*,
*::before,
*::after{
    margin: 0;
    box-sizing: border-box;
}

/*TAGS =================================================================================================*/
html {
    color-scheme: dark;
    background: linear-gradient(45deg, #0d5f72, #5e1c80, #751935);
}

body {
    overflow-x: hidden;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background: linear-gradient(-5deg, #222222 90.5%, #44444400 90.5%);
    color: #DDDDDD;
}

img {
    height: auto;
    max-width: 100%;
    object-fit: cover;
}

section {
    padding-block: 5rem;
}

footer {
    min-height: 30vh;
    background-color: #444444;
}

/*ACCENTS =================================================================================================*/

.primary-accent {
    color: #ff0062;
}

.secondary-accent {
    color: #ff5e00;
}

.tertiary-accent {
    color: #00c3ff;
}

/*NAVBAR =================================================================================================*/

.navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 0px;
}

.navbar ul {
    list-style: none;
}

.navbar li {
    margin-right: 20px;
}

.navbar a {
    text-decoration: none;
    color: currentColor;
}

/*LANDING =================================================================================================*/

.landing{
    text-align: left;
    padding: 100px 0;
    margin-left: 200px;
    min-height: 100vh;
}

.landing h1 {
    font-size: 128px;
}

.landing-inline h1{
    display: inline;
}

.landing p {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

/*BACKGROUND COMPONENTS =================================================================================================*/

#about {
    --background: #202020;

    position: relative;
    isolation: isolate;
    min-height: 100vh;
}

#about::after {
    content: '';
    background: var(--background);
    position: absolute;
    z-index: -1;
    inset: 0;
    transform: skewY(var(--skew-angle));
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
}

#skills {
    --skew-angle: -5deg;
    --background: linear-gradient(45deg, #0d5f72, #5e1c80, #751935);

    position: relative;
    isolation: isolate;
    min-height: 100vh;
}

#skills::after {
    content: '';
    background: var(--background);
    position: absolute;
    z-index: -1;
    inset: 0;
    transform: skewY(var(--skew-angle));
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
}

#portfolio {
    --background: #222222;

    position: relative;
    isolation: isolate;
    min-height: 100vh;
}

#portfolio::after {
    content: '';
    background: var(--background);
    position: absolute;
    z-index: -1;
    inset: 0;
    transform: skewY(var(--skew-angle));
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
}

#testimonials {
    --background: #202020;

    position: relative;
    isolation: isolate;
    min-height: 60vh;
}

#testimonials::after {
    content: '';
    background: var(--background);
    position: absolute;
    z-index: -1;
    inset: 0;
    transform: skewY(var(--skew-angle));
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
}

#contact {
    --skew-angle: -5deg;
    --background: linear-gradient(45deg, #0d5f72, #5e1c80, #751935);

    position: relative;
    isolation: isolate;
    min-height: 60vh;
}

#contact::after {
    content: '';
    background: var(--background);
    position: absolute;
    z-index: -1;
    inset: 0;
    transform: skewY(var(--skew-angle));
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
}

#footer {
    --background: #444444;

    position: relative;
    isolation: isolate;
}

#footer::after {
    content: '';
    background: var(--background);
    position: absolute;
    z-index: -1;
    inset: 0;
    transform: skewY(var(--skew-angle));
    top: 0;
    left: 0;
    width: 100%;
    height: 250%;
}

/*UTIL =================================================================================================*/

.wrapper {
    max-width: 70rem;
    margin-left: auto;
    margin-right: auto;
    padding-inline: 1rem;
}

.wrapper h2 {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.wrapper p {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.portfolio-wrapper {
    max-width: 100rem;
    margin-left: auto;
    margin-right: auto;
    padding-inline: 1rem;
}

.portfolio-wrapper h2 {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(200px, auto);
}

/*SLIDING ANIMATIONS =================================================================================================*/

.hidden {
    opacity: 0;
    filter: blur(5px);
    transition: all 1s;
}

.left {
    transform: translateX(-100%);
}

.right {
    transform: translateX(100%);
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.section-content {
    transition: all 2s;
    transition-delay: 1s;
}

#subtitle-dev {
    transition-delay: 1s;
}

#subtitle-psy {
    transition-delay: 3s;
}

/*HOVER ANIMATIONS =================================================================================================*/

.drawer-container {
    margin: 0 auto;
    overflow: hidden;
    background-size: cover;
    background-position: center;
}

.drawer-container:hover .drawer {
    top: 150px;
}

.drawer {
    height: 300px;
    margin: 0 auto;
    background-color: #000000;
    opacity: 0.6;
    transition: all 0.6s ease;
    position: relative;
    top: 300px;
  }

.drawer h3 {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    margin-bottom: 20px;
}

.drawer p {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
}

#machine-learning {
    background-image: url(./assets/machine_learning.jpg);
}

#data-analytics {
    background-image: url(./assets/data_analytics.jpg);
}

#back-end {
    background-image: url(./assets/back_end.jpg);
}

#front-end {
    background-image: url(./assets/front_end.jpg);
}