@media only screen and (min-width: 768px) {

    #about {
        padding-bottom: 20vh;
    }

    #quote {
        font-size: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    hr {
        height: 2px;
    }

    .wrapper-about {
        max-width: 70vw;
    }
    
    #about-content {
        display: flex;
    }

    #about-content img {
        width: 100%;
    
        border-radius: 50%;
        border-style: solid;
        border-width: 2px;
        border-color: #000000;
    }

    #about-me-text {
        padding: 2%;
    }
}