@media only screen and (min-width: 768px) {

    #my-skills {
        display: flex;
        justify-content: flex-start;
        transform: translateY(-50%);
        margin-left: 10vw;
        font-size: 128px;
        color: #ff0062;

    }

    .skills-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        grid-auto-rows: minmax(200px, auto);
    }


    .drawer-container {
        margin: 0 auto;
        overflow: hidden;
        background-size: cover;
        background-position: center;
        position: relative;
        border-radius: 10px;
        filter: drop-shadow(0px 10px 10px #00000099)
    }

    .drawer-container:hover .drawer {
        top: 100px;
    }

    .drawer-container::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: inherit;
        background-size: cover;
        background-position: center;
        filter: blur(2px);
        opacity: 0;
        transition: opacity 0.3s ease;
    }

    .drawer-container:hover::before {
        opacity: 1;
    }

    .drawer {
        height: 300px;
        margin: 0 auto;
        background-color: #000000;
        opacity: 0.6;
        transition: all 0.6s ease;
        position: relative;
        top: 300px;
    }
}