*,
*::before,
*::after {
	margin: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

h1 {
	font-size: 2rem;
}

h2 {
	font-size: 1.5rem;
}

.primary-color {
	color: #ff0062;
}

.primary-focus {
	font-weight: bold;
	font-size: 4rem;
}

.secondary-focus {
	font-weight: bold;
	font-size: 3rem;
}

body {
	background-color: #1a1a1a;
	color: aliceblue;
	font-family: 'Ubuntu', sans-serif;
}

.code {
    font-family: 'JetBrains Mono', monospace;
}

nav {
	position: sticky;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	background-color: aliceblue;
}

.nav-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.5rem;
}

.nav-container a {
	color: #1a1a1a;
	text-decoration: none;
}

.nav-logo {
	font-size: 3rem;
	font-weight: bold;

	margin-left: 2rem;
}

.nav-list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style: none;

	padding-right: 3rem;
}

.nav-list li {
	margin: 0 1rem;
}

.nav-list li a {
	font-size: 1.5rem;
}

.nav-list li a:hover {
	color: #ff0062;
}

/* ===================================== */

#landing {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.main-container {
	display: flex;
	justify-content: center;
	align-items: center;

	height: 100vh;
	max-width: 90vw;
}

.main-container h1 {
	font-size: 4rem;
}

/* ===================================== */

.h2-container {
	padding: 1rem;
}


/* ===================================== */

#about {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	min-height: 100vh;
	background-color: #222222;

	padding: 10vw;
	padding-top: 5rem;
	padding-bottom: 5rem;
}

#about h2 {
	font-size: 3rem;
}

.about-container {
	display: flex;
	justify-content: space-between;
	align-items: start;
	height: 100%;
}

.about-avatar {
	width: 25rem;
	min-width: 25rem;
	height: 35rem;
	border-radius: 2rem;
}

.about-avatar img {
    width: 100%;
    height: 100%;
    border-radius: 2rem;

    object-fit: cover;
    object-position: center;
}

.about-text {
	padding-left: 4rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;
	font-size: 1.5rem;
}

#about-main-text {
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.about-info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: start;
	width: 100%;
}

.about-main-info {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.about-tabs {
	display: flex;
	justify-content: start;
	align-items: start;
	width: 100%;
}

.about-tabs p {
	padding: 1rem;
	padding-left: 0;
	padding-right: 3rem;
	margin-bottom: 2rem;
	font-size: 2.5rem;
}

.tab-link {
	color: aliceblue;
	font-size: 2rem;
}

.tab-link:hover {
	scale: 1.1;
	cursor: pointer;
}

.active-link {
	transition: all 0.3s ease-in-out;
}

.active-link:hover {
	cursor: default;
	scale: 1;
}

.tab-link.active-link::after {
	content: '';
	display: block;
	width: 33%;
	height: 0.3rem;
	position: relative;
	bottom: -10px;
	background-color: #ff0062;
}

.tab-contents {
	display: none;
}

.tab-contents h3 {
	font-size: 1.5rem;
	font-weight: normal;
	padding-bottom: 1rem;
	color: #ff0062;
}

.tab-contents p {
	padding: 0.3rem;
	padding-left: 0;
	font-size: 1.2rem;
}

.active-tab {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.date i {
	font-size: 0.8rem;
}

.experience-item h3 {
	padding-bottom: 0rem;
	margin-bottom: 0rem;
}

.about-overview-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	align-self: end;
	justify-self: end;
}

.about-overview-container p {
	margin-top: 5rem;
	padding: 1rem;
	font-size: 2rem;
}

/* ===================================== */

#portfolio {
	display: flex;
	justify-content: center;
	align-items: start;
	min-height: 100vh;
}

#portfolio h2 {
	font-size: 3rem;
}

.portfolio-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: start;
	height: 100%;
	width: 100%;
}

.portfolio-item {
	display: flex;
	justify-content: space-between;
	align-items: start;
	border: 1px solid #ff0062;

	min-height: 50rem;
	width: 100%;
	min-width: 100%;
}

.portfolio-item-image-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	border: 1px solid #ff0062;
}

.portfolio-item-image {
	height: 100%;
	width: 100%;
}

.portfolio-item-text-container {
	display: flex;
	flex-direction: column;
	align-content: space-between;
	height: 100%;
	width: 100%;

	border: 1px solid #ff0062;
}

.portfolio-item-text {
	padding: 1rem;
	font-size: 1.5rem;
    flex-grow: 1;
}

.portfolio-item-text h3 {
    font-size: 3rem;
    padding-bottom: 1rem;
}

/* ===================================== */

#testimonials {
	display: flex;
	justify-content: center;
	align-items: start;
	height: 50vh;
	background-color: #222222;
}

#testimonials h2 {
	font-size: 3rem;
}

/* ===================================== */

#contact {
	display: flex;
	justify-content: center;
	align-items: start;
	height: 70vh;
	background-color: #222222;
}

#contact h2 {
	font-size: 3rem;
}

/* ===================================== */

footer {
	height: 30vh;
	display: flex;

	flex-direction: column;

	justify-content: center;
	align-items: center;

}

footer h2 {
	font-size: 1.5rem;
}

.footer-logo a {
	text-decoration: none;
	color: aliceblue;
}

.footer-logo:hover {
	scale: 1.02;
}

.footer-container {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;

	padding-left: 2rem;
	padding-right: 2rem;
}

.footer-menu ul {
	display: flex;
	list-style: none;
}

.footer-menu a {
	text-decoration: none;
	color: aliceblue;
}

.footer-menu li {
	padding-left: 1rem;
	padding-right: 1rem;
}

.footer-menu li:hover {
	scale: 1.1;
}

.footer-social ul {
	display: flex;
	list-style: none;
}

.footer-social li {
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

.footer-social li:hover {
	scale: 1.1;
}

.footer-social a {
	text-decoration: none;
	color: aliceblue;
}

.footer-social img {
	width: 2rem;
}
