*,
*::before,
*::after {
	margin: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

h1 {
	font-size: 2rem;
}

h2 {
	font-size: 1.5rem;
}

.primary-color {
	color: #ff0062;
}

body {
	background-color: #1a1a1a;
	color: aliceblue;
	font-family: 'Roboto', sans-serif;
}

nav {
	position: sticky;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	background-color: aliceblue;
}

.nav-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.5rem;
}

.nav-container a {
	color: #1a1a1a;
	text-decoration: none;
}

.nav-logo {
	font-size: 3rem;
	font-weight: bold;

	margin-left: 2rem;
}

.nav-list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style: none;

	padding-right: 3rem;
}

.nav-list li {
	margin: 0 1rem;
}

.nav-list li a {
	font-size: 1.5rem;
}

.nav-list li a:hover {
	color: #ff0062;
}

/* ===================================== */

#landing {
	height: 100vh;
}

#landing h1 {
	font-size: 4rem;
}

.main-container {
	display: flex;
	justify-content: center;
	align-items: center;

	height: 100vh;
}

/* ===================================== */

.h2-container {
	padding: 1rem;
}


/* ===================================== */

#about {
	display: flex;
	justify-content: center;
	align-items: start;
	height: 100vh;
	background-color: #222222;
}

#about h2 {
	font-size: 3rem;
}

/* ===================================== */

#portfolio {
	display: flex;
	justify-content: center;
	align-items: start;
	height: 100vh;
}

#portfolio h2 {
	font-size: 3rem;
}

/* ===================================== */

#testimonials {
	display: flex;
	justify-content: center;
	align-items: start;
	height: 50vh;
	background-color: #222222;
}

#testimonials h2 {
	font-size: 3rem;
}

/* ===================================== */

#contact {
	display: flex;
	justify-content: center;
	align-items: start;
	height: 70vh;
	background-color: #222222;
}

#contact h2 {
	font-size: 3rem;
}

/* ===================================== */

footer {
	height: 30vh;
	display: flex;

	flex-direction: column;

	justify-content: center;
	align-items: center;

}

footer h2 {
	font-size: 1.5rem;
}

.footer-logo a {
	text-decoration: none;
	color: aliceblue;
}

.footer-logo:hover {
	scale: 1.02;
}

.footer-container {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;

	padding-left: 2rem;
	padding-right: 2rem;
}

.footer-menu ul {
	display: flex;
	list-style: none;
}

.footer-menu a {
	text-decoration: none;
	color: aliceblue;
}

.footer-menu li {
	padding-left: 1rem;
	padding-right: 1rem;
}

.footer-menu li:hover {
	scale: 1.1;
}

.footer-social ul {
	display: flex;
	list-style: none;
}

.footer-social li {
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

.footer-social li:hover {
	scale: 1.1;
}

.footer-social a {
	text-decoration: none;
	color: aliceblue;
}

.footer-social img {
	width: 2rem;
}
