#footer {
    --background: #202020;
    position: relative;
    isolation: isolate;
    display: flex;
    flex-direction: column;
    justify-content: space-around; /* Align content to the bottom of the footer */
    align-items: center; /* Center horizontally within the footer */
}

#footer::after {
    content: '';
    background: var(--background);
    position: absolute;
    z-index: -1;
    inset: 0;
    transform: skewY(var(--skew-angle));
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-height: 10%;
}


#back-to-top{
    padding-top: 30px;
    padding-bottom: 50px;
    width: 150px;
    display: block;
    margin: auto;
}

#back-to-top polygon:hover {
    fill: #ff0062;
}
