.navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    
    padding: 10px;
    margin: 0px;
}

.navbar a {
    text-decoration: none;
    color: currentColor;
    border-bottom: solid;
    border-bottom-color: #ff006200;

    padding: 5px;
    font-size: 12px;
    border-bottom-width: 2px;
}

.navbar a:hover {
    color: #ff0062;
    border-bottom-color: #ff0062;
}